{% extends "base.html" %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}
{% block 'body' %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">

            <p class="p-bold">Olá, <span class="color-dark"></span></p>
            <p class="p-bold">Vamos realizar seu cadastro médico legal.</p>
            {% if messages %}
            <br>
            {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
            {% endfor %}
            {% endif %}
            <br>
            <form action="#" method="post" enctype='multipart/form-data'>
                <div class="row">
                    <div class="col-md">
                        <label for="">CRM:</label>
                        <input type="text" class="form-control shadow-main-color" name="crm" placeholder="CRM...">
                    </div>
                    <div class="col-md">
                        <label for="">Cédula de identidade médica:</label>
                        <input type="file" name="cim" id="" class="form-control shadow-main-color">
                    </div>
                </div>